body {
  margin: 0 !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}

.main-sidebar {
  background-color: #040404;
  height: 100%;
  width: 230px;
  padding: 5px 10px;
}

.main-content {
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
}

.main-player {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.main-lists {
  display: flex;
  flex-direction: column;
  width: calc(100% - 90px);
  height: 100%;
}

.main-topbar {
  width: 100%;
  height: 60px;
}

.main {
  width: 100%;
  height: calc(100% - 60px);
  overflow: auto;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 5px;
  border-radius: 4px;
  cursor: pointer;
  
  &.selected {
    background-color: #282828;

    > span {
      color: white;
    }
  }

  &:hover > span{
    color: white !important;
  }

  & > span {
    font-weight: bold;
    font-size: 13px;
    color: #8c8d8c;
  }
}

.topbar-button {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.7);
  margin-right: 12px;
  cursor: pointer;

  > span {
    font-size: 18px;
  }
}

.subtitle {
  color: #5b5b5b !important;
  font-size: 14px;
  margin-top: 5px;

  .subtitle-card {
    white-space: normal;
  }
}
.card-subtitle-container {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-card {
  padding: 16px;
  background: #181818;
  border-radius: 4px;
  width: 162px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: #282828;
  }
}

* {
  color: white;
  font-family: Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

.flex-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}
